LOG_LEVEL={{ read_state_log_level | default('info') }}
LOG_PRETTY={{ read_state_log_pretty | default('true') }}

PORT={{ read_state_port | default('3008') }}
READ_STATE_PORT={{ read_state_port | default('3008') }}

DATABASE_URL={{ read_state_database_url }}
REDIS_URL={{ read_state_redis_url }}
KV_REDIS_URL={{ read_state_kv_redis_url }}

CASSANDRA_CONTACT_POINTS={{ read_state_cassandra_contact_points }}
CASSANDRA_PORT={{ read_state_cassandra_port | default('9042') }}
CASSANDRA_LOCAL_DATACENTER={{ read_state_cassandra_local_datacenter | default('datacenter1') }}
READ_STATE_CASSANDRA_KEYSPACE={{ read_state_cassandra_keyspace | default('read_state') }}
MESSAGES_CASSANDRA_KEYSPACE={{ read_state_messages_cassandra_keyspace | default('messaging') }}
DMS_CASSANDRA_KEYSPACE={{ read_state_dms_cassandra_keyspace | default('dms') }}

{% if read_state_cassandra_username is defined and read_state_cassandra_username|length > 0 %}
CASSANDRA_USERNAME={{ read_state_cassandra_username }}
{% endif %}
{% if read_state_cassandra_password is defined and read_state_cassandra_password|length > 0 %}
CASSANDRA_PASSWORD={{ read_state_cassandra_password }}
{% endif %}

CASSANDRA_TOPOLOGY={{ read_state_cassandra_topology | default('simple') }}
CASSANDRA_REPLICATION_FACTOR={{ read_state_cassandra_replication_factor | default('1') }}
CASSANDRA_READ_CONSISTENCY={{ read_state_cassandra_read_consistency | default('localOne') }}
CASSANDRA_WRITE_CONSISTENCY={{ read_state_cassandra_write_consistency | default('localQuorum') }}
