LOG_LEVEL={{ dms_log_level | default('info') }}
LOG_PRETTY={{ dms_log_pretty | default('true') }}

DMS_PORT={{ dms_port | default('3007') }}

DATABASE_URL={{ dms_database_url }}
REDIS_URL={{ dms_redis_url }}
KV_REDIS_URL={{ dms_kv_redis_url }}
KV_CACHE_REDIS_URL={{ dms_kv_cache_redis_url }}
REDIS_COMMAND_TIMEOUT_MS={{ dms_redis_command_timeout_ms | default('5000') }}

CASSANDRA_CONTACT_POINTS={{ dms_cassandra_contact_points }}
CASSANDRA_PORT={{ dms_cassandra_port | default('9042') }}
CASSANDRA_LOCAL_DATACENTER={{ dms_cassandra_local_datacenter | default('datacenter1') }}
CASSANDRA_KEYSPACE={{ dms_cassandra_keyspace | default('dms') }}

{% if dms_cassandra_username is defined and dms_cassandra_username|length > 0 %}
CASSANDRA_USERNAME={{ dms_cassandra_username }}
{% endif %}
{% if dms_cassandra_password is defined and dms_cassandra_password|length > 0 %}
CASSANDRA_PASSWORD={{ dms_cassandra_password }}
{% endif %}

CASSANDRA_TOPOLOGY={{ dms_cassandra_topology | default('simple') }}
CASSANDRA_REPLICATION_FACTOR={{ dms_cassandra_replication_factor | default('1') }}
CASSANDRA_READ_CONSISTENCY={{ dms_cassandra_read_consistency | default('localQuorum') }}
CASSANDRA_WRITE_CONSISTENCY={{ dms_cassandra_write_consistency | default('localQuorum') }}

MINIO_ENDPOINT={{ dms_minio_endpoint }}
MINIO_ACCESS_KEY={{ dms_minio_access_key }}
MINIO_SECRET_KEY={{ dms_minio_secret_key }}
MINIO_BUCKET={{ dms_minio_bucket }}
ATTACHMENT_BASE_URL={{ dms_attachment_base_url }}
