LOG_LEVEL={{ realtime_log_level | default('info') }}
LOG_PRETTY={{ realtime_log_pretty | default('true') }}

DATABASE_URL={{ realtime_database_url }}
DATABASE_URL_DIRECT={{ realtime_database_url_direct }}
REDIS_URL={{ realtime_redis_url }}

CASSANDRA_CONTACT_POINTS={{ realtime_cassandra_contact_points }}
CASSANDRA_PORT={{ realtime_cassandra_port | default('9042') }}
CASSANDRA_LOCAL_DATACENTER={{ realtime_cassandra_local_datacenter | default('datacenter1') }}
CASSANDRA_KEYSPACE={{ realtime_cassandra_keyspace | default('messaging') }}
