LOG_LEVEL={{ search_log_level | default('info') }}
LOG_PRETTY={{ search_log_pretty | default('true') }}

SEARCH_PORT={{ search_port | default('3004') }}

DATABASE_URL={{ search_database_url }}
REDIS_URL={{ search_redis_url }}
KV_REDIS_URL={{ search_kv_redis_url }}
ELASTICSEARCH_URL={{ search_elasticsearch_url | default('http://127.0.0.1:9200') }}
