LOG_LEVEL={{ communities_log_level | default('info') }}
LOG_PRETTY={{ communities_log_pretty | default('true') }}
DATABASE_URL={{ communities_database_url }}
REDIS_URL={{ communities_redis_url }}
META_REDIS_URL={{ communities_meta_redis_url }}
KV_REDIS_URL={{ communities_kv_redis_url }}
KV_CACHE_REDIS_URL={{ communities_kv_cache_redis_url }}
SESSION_SECRET={{ session_secret }}

COMMUNITIES_PORT={{ communities_port | default('3002') }}
SEARCH_SERVICE_URL={{ communities_search_service_url }}
