LOG_LEVEL={{ messages_log_level | default('info') }}
LOG_PRETTY={{ messages_log_pretty | default('true') }}

PORT={{ messages_port | default('3003') }}
MESSAGES_PORT={{ messages_port | default('3003') }}

DATABASE_URL={{ messages_database_url }}
DATABASE_URL_DIRECT={{ messages_database_url_direct }}
REDIS_URL={{ messages_redis_url }}
SESSION_SECRET={{ session_secret }}

CASSANDRA_CONTACT_POINTS={{ messages_cassandra_contact_points }}
CASSANDRA_PORT={{ messages_cassandra_port | default('9042') }}
CASSANDRA_LOCAL_DATACENTER={{ messages_cassandra_local_datacenter | default('datacenter1') }}
MESSAGES_CASSANDRA_KEYSPACE={{ messages_cassandra_keyspace | default('messaging') }}

{% if messages_cassandra_username is defined and messages_cassandra_username|length > 0 %}
CASSANDRA_USERNAME={{ messages_cassandra_username }}
{% endif %}
{% if messages_cassandra_password is defined and messages_cassandra_password|length > 0 %}
CASSANDRA_PASSWORD={{ messages_cassandra_password }}
{% endif %}

CASSANDRA_TOPOLOGY={{ messages_cassandra_topology | default('simple') }}
CASSANDRA_REPLICATION_FACTOR={{ messages_cassandra_replication_factor | default('1') }}
CASSANDRA_READ_CONSISTENCY={{ messages_cassandra_read_consistency | default('localOne') }}
CASSANDRA_WRITE_CONSISTENCY={{ messages_cassandra_write_consistency | default('localQuorum') }}

MINIO_ENDPOINT={{ messages_minio_endpoint }}
MINIO_ACCESS_KEY={{ messages_minio_access_key }}
MINIO_SECRET_KEY={{ messages_minio_secret_key }}
MINIO_BUCKET={{ messages_minio_bucket }}
ATTACHMENT_BASE_URL={{ messages_attachment_base_url }}

