LOG_LEVEL={{ backend_log_level }}
LOG_PRETTY={{ backend_log_pretty }}
DATABASE_URL={{ backend_database_url }}
REDIS_URL={{ backend_redis_url }}
META_REDIS_URL={{ backend_meta_redis_url }}
KV_REDIS_URL={{ backend_kv_redis_url }}
KV_CACHE_REDIS_URL={{ backend_kv_cache_redis_url }}
SESSION_SECRET={{ session_secret }}

COMMUNITIES_PORT={{ communities_port }}
SEARCH_SERVICE_URL={{ communities_search_service_url }}

CREATE_COMMUNITY_PORT={{ create_community_port }}
